<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
<div class="row" style="margin-top: 20px;;">
    <div class="col-sm-6 align">Name:</div>
    <div class="col-sm-6"><input name="name" id="name" formControlName="name"></div>
    <span *ngIf="userForm.get('name').touched && userForm.get('name').invalid">Please Enter valid Details</span>
</div><br>
<div class="row">
    <div class="col-sm-6 align" >Email:</div>
    <div class="col-sm-6"><input name="email" id="email" formControlName="email"></div>
    <span *ngIf="userForm.get('email').touched && userForm.get('email').invalid">Please Enter valid Details</span>
</div><br>

<div class="row">
    <div class="col-sm-6 align">Phone:</div>
    <div class="col-sm-6"><input name="phone" id="phone" formControlName="phone"></div>
    <span *ngIf="userForm.get('phone').touched && userForm.get('phone').invalid">Please Enter valid Details</span>
</div><br>

<div class="row">
    <div class="col-sm-6 align">Company:</div>
    <div class="col-sm-6">
    <label name="companies"   *ngFor="let company of companiesArr;let i =index ">
        <input type="checkbox"   name="xyz" id="company.id"  (change)="onChangeCheckbox($event,company.id)" >
        {{company.name}} &nbsp; &nbsp; 
    </label>
    </div>
</div><br>
<div class="align">
    <button type="submit" class="align" [disabled]="userForm.invalid">Submit</button>
    &nbsp;
    <button  class="align" routerLink="/">Back</button>


</div>

</form>